//
// colors
//

// common
$white: #fff;
$black: #000;

// blue
$blue-50: #f8f9fe;
$blue-100: #ebeeff;
$blue-200: #dddee3;
$blue-300: #8d96d1;
$blue-400: #626caa;
$blue-500: #454b7f;
$blue-800: #2348fb;

// gray
$gray-50: #dddee3;
$gray-100: #b3b6bd;
$gray-200: #86878c;
$gray-300: #53595a;
$gray-500: #303435;
$gray-900: #1a1b1f;
