@import "../../styles/styles.scss";

.category {
	@include flex(column);
	width: 100%;
	margin-bottom: 2rem;
	&__title {
		color: var(--text-secondary);
		font-size: 1.1rem;
		font-weight: 500;
		text-transform: uppercase;
	}
	&__items {
		@include flex($direction: column, $align: center);
		margin-top: 1rem;
		font-size: 1.4rem;
	}
}

.collapsed {
	.category {
		&__title {
			max-width: min-content;
			@include truncate();
		}
	}
}
