@import "../../styles/styles.scss";

@keyframes collapse-item {
	100% {
		width: 3.4rem;
	}
}

.item {
	width: 100%;
	overflow: hidden;
	border-radius: 0.8rem;
	color: var(--text-primary);
	font-weight: 500;
	transition: all 250ms;
	&:hover {
		color: var(--text-hover);
		background-color: var(--bg-hover);
	}
	a,
	button {
		@include flex($align: center);
		max-width: 100%;
		height: 3.4rem;
		padding: 0.8rem 1rem;
	}
	&__icon {
		@include flex($justify: center, $align: center);
		@include square(1.5rem);
		font-size: 1.4rem;
	}
	&__title {
		max-width: 100vw;
		margin-left: 0.5rem;
		@include truncate();
		text-transform: capitalize;
		transition: 150ms;
	}
}

.collapsed {
	.item {
		overflow: hidden;
		animation: collapse-item 250ms ease-out 250ms 1 normal forwards;
		&__title {
			max-width: 0;
			margin-left: 0;
			overflow: hidden;
			transition: 250ms;
		}
	}
}
